In [10]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('Db-IMDB.db')
result=pd.read_sql_query("SELECT * FROM MOVIE LIMIT 10",conn)
print (result)

   index        MID                       title  year  rating  num_votes
0      0  tt2388771                      Mowgli  2018     6.6      21967
1      1  tt5164214               Ocean's Eight  2018     6.2     110861
2      2  tt1365519                 Tomb Raider  2018     6.4     142585
3      3  tt0848228                The Avengers  2012     8.1    1137529
4      4  tt8239946                     Tumbbad  2018     8.5       7483
5      5  tt7027278                   Kedarnath  2018     5.5       1970
6      6  tt3498820  Captain America: Civil War  2016     7.8     536641
7      7  tt8108198                   Andhadhun  2018     9.0      18160
8      8  tt3741834                        Lion  2016     8.1     170216
9      9  tt6747420                Rajma Chawal  2018     5.7        681

In [ ]:
"SELECT MID, Year from Movie as m INNER JOIN M-direction as n ON m.MID=n.MID "